.root{
    -fx-background-color: linear-gradient(#191919 25%, #333333 50%, #191919 100%);
}
.label{
    -fx-text-fill: rgb(255, 255, 255);
}
.button{
    -fx-background-color: linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-radius: 9,8,5,4,3;
    -fx-text-fill: rgb(255, 255, 255);
}
#filetext{
   -fx-font-size: 18px;
   -fx-font-family: "courier new";
}
.progress-bar{
    -fx-box-color: rgb (0, 0, 0);
}